    <footer>
      <a href="https://github.com/Dhart1984/Project-2" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
      </a>
      <p>&copy; 2023 TaskMastermind. All rights reserved.</p>
    </footer>
  </body>
</html>
