<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <nav class="nav-list">
        <img src="/images/logo.png" alt="Logo" class="logo">
        <a href="/">Home</a>
        <a href="/tasks">Tasks</a>
        <a href="/goals">Goals</a>
        <a href="/bullets">Journal</a>
    </nav>
