<%- include("../partials/header", {title}) %>
<h1>Add Tasks</h1>
<a href="/tasks">All Tasks</a>
<form action="/tasks" method="POST"></form>
<label>Tasks:
  <button type="submit">Add Task</button>
</label>

</form>



<%- include("../partials/footer") %>